

#questionDiv {
    text-align: center;
    width: 400px;
    height: 200px;
    border: solid;
    position: relative;
    margin: auto;
    border-radius: 10px;
    background: rgba(114, 117, 114, 0.3);
    border-collapse: collapse;
    display: table;

}


.btn-holder {
    display: table-footer-group;
}

#nextQuestion {
    padding: 10px 20px 10px 20px;
}

#btnColorMode {
    padding: 10px 20px 10px 20px;
}